* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: orange;
}

.btn-primary {
    height: 30px;
    width: 60px;
    border-radius: 5px;
    background: orange;
    padding: 15px 30px;
    font-size: 15px;
    font-weight: 80px;
}

.head {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;


}

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
}

nav li {
    list-style: none;
    margin-left: 20px;
}

nav ul {
    display: flex;
    align-items: center;
}

.banner {
    display: flex;
    margin: 0px 100px;
    align-items: center;

}

.banner-title {
    font-weight: 500;
    font-size: 30px;
}

.banner-sub-title {
    font-size: 70px;
    font-weight: 600;
    margin-bottom: 10px;
}

.banner-description {
    color: #362e2e;
    font-size: 14px;
    margin-bottom: 25px;
}

.btn-second {
    height: 60px;
    width: 160px;
    border-radius: 5px;
    background: orange;
    padding: 15px 30px;
    font-size: 15px;
    font-weight: 400px;


}

main {
    max-width: 1000px;
    margin: 0px auto;
}

.about {
    margin-top: 120px;
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 120px 140px;
    margin-bottom: 100px;
}

.about-title {
    text-align: center;
    margin-bottom: 26px;
    font-size: 30px;
}

.about-description {
    color: #362e2e;
    font-size: 15px;


}

.about-info-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.info-title {
    color: #757575;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;

}

.info-description {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;

}

.what-i-do {
    margin-bottom: 50px;
}

.section-title {
    text-align: center;
    margin-bottom: 15px;
}

.section-description {
    color: var(--Dark-03, #757575);
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    margin-bottom: 20px;
}

.skill-container {
    display: flex;
    gap: 25px;
}

.skill {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
}

.skill-title {
    color: var(--Dark-01, #181818);
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    margin-top: 30px;
    margin-bottom: 20px;

}

.skill-descrption {
    color: var(--Dark-03, #757575);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */

}

.section-titles {
    color: var(--Dark-01, #181818);
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 50px;
    display: flex;
}

.resume-content {
    display: flex;
    gap: 25px;
    margin-bottom: 50px;
}

.resume-title {
    color: var(--Dark-02, #474747);
    font-family: Open Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;

}

.title {
    color: var(--Dark-02, #474747);
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

.sub-title {
    color: var(--Dark-03, #757575);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 25px;
}

.description {
    color: var(--Dark-03, #757575);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
    margin-bottom: 20px;
}

.resume-list {
    margin-bottom: 50px;
}

.contact {
    display: flex;
    gap: 100px;
    background-color: #FFF8F3;
    padding: 130px 200px;

}

.contact-title {
    color: #181818;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 50px;

}

.contact-description {
    color: #474747;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
    margin-bottom: 50px;
}

.contact input[type="text"],
input[type="email"],
textarea {
    margin-bottom: 25px;
    border: 0px;
    padding: 18px 30px;
    width: 100%;
}

.contact a {
    text-decoration: none;
}